<h1>This is where a parent will see all their child's assignemnts</h1>

<ul>
 <% current_user.homeworks.map do |homework| %>
   <li><a href="/student/homework/<%= homework.id %>"><%= homework.title %></a></li>
 <% end %>
</ul>